extends layoutParticipant
block content
    .container( style="padding-top:10px;padding-left:150px;")
        p(style='padding-bottom:10px;')
        .row
            #scheduler.tab-pane.col-sm-9.col-md-10.main
                .ng-scope(ng-controller='ParticipantSchController' ng-init="initSchPage('#{user.CoachId}','#{user._id}')" style='width:800px;')
                    .container
                        .row.well.col-md-9
                            .col-lg-4(style="margin-top:-20px;margin-bottom:-20px;")
                                h3 Welcome #{user.FirstName}.
                                p Your Coach is &nbsp;
                                    b #{user.CoachName}
                            .col-lg-6(style="border-left:ridge;margin-top:-20px;margin-bottom:-20px;")
                                h3 Your upcoming appointments
                                fieldset
                                    // Form Name
                                    legend
                                        table.searchResults.ng-scope(style="margin-left:20px;" ng-if="coachAvailDates.length>0")
                                            tbody
                                                tr(ng-repeat="appt in userAppts | orderBy:['DateUTC']")
                                                    td
                                                        b {{appt.Coach.coachName}}
                                                    td  {{appt.Date|date:'HH'}}
                                                    td  {{appt.Time}}
                                                    td
                                                        a(href ng-click='cancelUserAppt(appt.Coach,appt.DateUTC)') Cancel
                                                        //input(style="padding:3px 6px 3px 6px;" type='button',  id="btnSelect"  value='Confirm', ng-click='saveUserAppt(coachAvailDate.Coach,coachAvailDate.DateUTC)').btn.btn-primary

                        .row.col-md-9
                            b Schedlule more appointments
                                br
                        .row.well.col-md-9
                            .col-lg-4(style="border-right:ridge;")
                                legend
                                    p Your coach's upcoming availability
                                b(style="color:green;") {{confirmMessage}}
                                    p
                                        b {{confirmCoach}}
                                    p
                                        b {{confirmDate}}
                                fieldset(style="padding:10px;")
                                    // Form Name
                                    legend
                                        table.searchResults.ng-scope(style="margin-left:-30px;" ng-if="coachAvailDates.length>0")
                                            thead.t-head
                                                tr
                                                    th Date
                                                    th Time
                                                    th
                                            tbody
                                                tr(ng-repeat="coachAvailDate in coachAvailDates | orderBy:['DateUTC']")
                                                    td  {{coachAvailDate.Date|date:'HH'}}
                                                    td  {{coachAvailDate.Time}}
                                                    td
                                                        input(style="padding:1px 4px 1px 4px;" type='button',  id="btnSelect"  value='Book', ng-click='saveUserAppt(coachAvailDate.Coach,coachAvailDate.DateUTC)').btn.btn-primary

                            .col-lg-7
                                form.ng-pristine
                                    fieldset(style="margin-left:1px;")
                                        // Form Name
                                        p Search other times for  #{user.CoachName}
                                            | or find other available coaches
                                        // Text input
                                        .form-group
                                            .col-md-5(style="margin-left:10px;")
                                                p Search by Date/Time
                                                input#datepicker.form-control.input-sm(type='text', name='datetime' style="margin-bottom:10px;")
                                            .col-md-1
                                                b OR
                                            .col-md-5
                                                p Search by Coach Name
                                                //select(ng-options="name as coach.FirstName + ' ' +coach.LastName for coach in coaches | orderBy:['FirstName','LastName']" ng-model="coach" ng-change="getCoachesById(coach._id)")
                                                select#coachselect.form-control.input-sm(ng-model='newuser' name="coach" style="margin-bottom:10px;")
                                                    option(ng-repeat="coach in coaches | orderBy:['FirstName','LastName']"  value="{{coach._id}}") {{coach.FirstName}} {{coach.LastName}}
                                    fieldset(style="padding:10px;")
                                        // Form Name
                                        legend
                                            table.searchResults.ng-scope(ng-if="availDates.length>0")
                                                thead.t-head
                                                    tr
                                                        th Coach
                                                        th Date
                                                        th Time
                                                        th
                                                tbody
                                                    tr(ng-repeat="availDate in availDates | orderBy:['DateUTC']")
                                                        td
                                                         b {{availDate.Coach.coachName}}
                                                            //i coach details here
                                                        td  {{availDate.Date|date:'HH'}}
                                                        td {{availDate.Time}}
                                                        td
                                                            input(style="padding:1px 2px 1px 2px;" type='button',  id="btnSelect"  value='Book', ng-click='saveUserAppt(availDate.Coach,availDate.DateUTC)').btn.btn-primary
                                        input(type="hidden" value="#{user._id}" id="userID" )
        //ul#coaches(style="list-style-type:none;padding-left:10px;")
                                                //    li(ng-repeat="availDate in availDates| orderBy:'Date'")
                                                        b {{availDate.Coach.coachName}}     {{availDate.Date|date:'HH'}}, {{availDate.Time}}
                                                        //ul#dates(style="list-style-type: none;padding-left:55px;padding-bottom:5px;")
                                                        //    li(ng-repeat="appt in availDate.appointments ")
                                                                p
                                                                //ul#times(style="list-style-type: none;padding-left:55px;padding-bottom:5px;")
                                                                //    li(ng-repeat="time in appt.Times")
                                                                //        p {{availDate.Coach.coachName}} {{appt.Date}} {{time.time}}
                                                //    p {{appt}}
                                                //ul#times(style="list-style-type: none;padding-left:55px;padding-bottom:5px;")
                                                //    legend
                                                //    li(ng-repeat="availdTime in availdDate.Times") b {{availDate.Date}}{{availTime.time}}
                                                //
                                                //            a(href='#' style='padding-left: 30px;' data-date='{{savedDate.Date}}' data-time='{{savedTime.time}}') X
        input(type='button', id="fakeSave" , ng-click='' style="display:none;")
        hr
        footer
            p © Company 2014